    /* Style the header */
    
    .header {
        background-color: #f44336;
        float: left;
        left: 50%;
        width: 50%;
        padding: 30px 40px;
        color: white;
        text-align: center;
    }
    /* Clear floats after the header */
    
    .header:after {
        content: "";
        display: table;
        clear: both;
    }
    /* Style the input */
    
    input {
        margin: 0;
        border: none;
        border-radius: 0;
        width: 70%;
        padding: 10px;
        float: left;
        font-size: 16px;
    }
    /* Style the "Add" button */
    
    .addBtn {
        padding: 10px;
        width: 20%;
        background: #d9d9d9;
        color: #555;
        float: left;
        text-align: center;
        font-size: 16px;
        cursor: pointer;
        transition: 0.3s;
        border-radius: 0;
    }
    
    .addBtn:hover {
        background-color: #bbb;
    }
    /* Style the "Save Edit" button */
    
    .saveBtn {
        padding: 10px;
        width: 20%;
        background: #d9d9d9;
        color: #555;
        float: left;
        text-align: center;
        font-size: 16px;
        cursor: pointer;
        transition: 0.3s;
        border-radius: 0;
    }
    
    .saveBtn:hover {
        background-color: #bbb;
    }
    
    .saveBtn {
        display: none;
    }
    /* table list  */
    
    .users {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        border: 1px solid #ddd;
        text-align: center;
    }
    
    th,
    td {
        text-align: center;
        padding: 16px;
    }
    
    tr:nth-child(even) {
        background-color: #f2f2f2
    }
    
    .list {
        width: 40%;
        padding-top: 10px;
        padding-left: 10px;
    }
    
    .users th {
        padding-top: 12px;
        padding-bottom: 12px;
        font-size: 16px;
        text-align: center;
        background-color: #4CAF50;
        color: white;
    }
    
    .users tr:nth-child(even) {
        background-color: #f2f2f2;
    }
    /* end table list */
    /* table task */
    
    .user_task {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        border: 1px solid #ddd;
        text-align: center;
    }
    
    th,
    td {
        text-align: center;
        padding: 16px;
    }
    
    tr:nth-child(even) {
        background-color: #f2f2f2
    }
    
    .task {
        float: left;
        width: 40%;
        padding-top: 10px;
        padding-left: 10px;
    }
    
    .user_task th {
        padding-top: 12px;
        padding-bottom: 12px;
        font-size: 16px;
        text-align: center;
        background-color: #4CAF50;
        color: white;
    }
    
    .user_task tr:nth-child(even) {
        background-color: #f2f2f2;
    }